@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: rgb(43, 43, 43);
    color: gainsboro;
    font-family: 'Poppins';
    
  }
  
  canvas {
    position: absolute;
    left:0;
  }

  
  .top nav ul{
      display: flex;
      float: right;
      list-style-type: none;
      font-size: 80px;
  }

  .top p{
      width: 540px;
      font-size: 16px;
      font-weight: bold;
  }

  .top h3{
      font-size: 18px;
  }

  .howTo li{
      font-size: 16px;
  }
 